################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuickAccount/.vs
/QuickAccount/QuickAccount/bin
/QuickAccount/QuickAccount/obj
/QuickAccount.Service/.vs
/QuickAccount.Service/QuickAccount.Service/obj
/QuickAccount.Service/QuickAccount.Service/bin
