################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuickAccount/QuickAcount.csproj.user
/QuickAccount/obj
/QuickAccount/bin
